@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

:root {
  --color-primary: #10c546;
  --color-segundary: #ffffff;
  --color-red: #ff0606;
}

body {
  background: #10c546;
}

.balance-container {
  background: var(--color-segundary);
  width: 100%;
  padding: 10px;
  border-radius: 0px 0px 40px 40px;
}

.balance-container header h1 {
  color: var(--color-primary);
  font-size: 20px;
  padding: 10px;
}

.balance-acount {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.balance-acount p {
  font-size: 13px;
  font-weight: 300;
}

.balance-acount h3 {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.balance-acount button {
  border: none;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background: none;
}

.balances-view {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0px;
}

.balance-enter {
  display: flex;
  align-items: center;
}

.balance-enter span {
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: var(--color-segundary);
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin: 0px 10px;
}

.balance-enter p {
  font-size: 15px;
  font-weight: 400;
}

.balance-down {
  display: flex;
  align-items: center;
}

.balance-down {
  display: flex;
  align-items: center;
}

.balance-down span {
  background: var(--color-red);
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-segundary);
  margin: 0px 10px;
}

.expenses-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 100%;
}

.expenses-container h3 {
  font-weight: 200;
  color: var(--color-segundary);
  padding: 10px;
  font-size: 16px;
}

.expenses-content {
  background: var(--color-segundary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
}

.expenses-content form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.expenses-content .input-label {
  display: flex;
  align-items: center;
}

.expenses-content .input-label input,
select {
  margin: 10px;
}
.expenses-content .input-label select {
  border-radius: 5px;
}

.expenses-content .input-label option {
  font-size: 10px;
}

.expenses-content .input-label input {
  border: none;
  border-bottom: 1px solid;
}

.expenses-content button {
  padding: 5px;
  margin: 10px 0px;
  border: none;
  width: 100px;
  background: var(--color-primary);
  color: var(--color-segundary);
  font-weight: bold;
  border-radius: 5px;
  transition: 0.3s all;
}

.expenses-content button:hover {
  background: #000;
}
